body, html {
  height: 100%;
}
.main-wrapper {
  -webkit-transition: margin-left ease-in-out 0.25s, width ease-in-out 0.25s;
  -moz-transition: margin-left ease-in-out 0.25s, width ease-in-out 0.25s;
  -ms-transition: margin-left ease-in-out 0.25s, width ease-in-out 0.25s;
  -o-transition: margin-left ease-in-out 0.25s, width ease-in-out 0.25s;
  transition: margin-left ease-in-out 0.25s, width ease-in-out 0.25s;
}
.main-wrapper .overlay {
  position: absolute;
  top: -68px;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
}
.main-wrapper.blur {
  margin-left: 30%;
  width:  70%;
}
.red-font {
  color: #c40c11 !important;
}
.bg-red {
  background-color: #c40c11 !important;
}
.white-font {
  color: #FFFFFF !important;
}
.bold {
  font-weight: bold;
}
.no-margin {
  margin: 0 !important;
}
.no-padding {
  padding: 0 !important;
}
.parent-center {
  display: table;
}
.child-center {
  display: table-cell;
  vertical-align: middle;
}
.fill-parent {
  height: 100%;
}
.no-decoration {
  text-decoration: none !important;
}
.hand {
  cursor: pointer;
}
.no-events {
  pointer-events: none;
}
.none {
  display: none;
}
.craft-btn {
  padding: 7px 30px;
  border-color: #c40c11;
  color: #c40c11;
  font-weight: bold;
}
