<html>
  <head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="/styles/vendor/bootstrap/bootstrap.min.css">

    <!-- Owl carousel CSS -->
    <link rel="stylesheet" href="/styles/vendor/owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/styles/vendor/owlcarousel/owl.theme.default.min.css">

    <!-- Font awesome CSS cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Custom CSS -->
    
    <!-- Global CSS -->
    <link rel="stylesheet" type="text/css" href="/styles/crafts/global.css">
    <!-- Header CSS -->
    <link rel="stylesheet" type="text/css" href="/styles/crafts/header.css">
    <!-- Home CSS -->
    <link rel="stylesheet" type="text/css" href="/styles/crafts/home.css">
  </head>

  <body class="col-xs-12 no-padding">
    <!-- Header navigation -->
    <%- partial('partials/headerNav.ejs') %>

    <!-- Main container -->
    <div class="main-wrapper col-xs-12 no-padding">
      <!-- Page overlay -->
      <div class="overlay none"></div>
      <div class="col-xs-12 no-padding row no-margin">
        <!-- Carousel images -->
        <div class="images-carousel owl-carousel owl-theme">
          <div class="item"><img src="/images/pins.jpg" ></div>
          <div class="item"><img src="/images/planning.jpg" ></div>
          <div class="item"><img src="/images/strings.jpg" ></div>
          <div class="item"><img src="/images/wood.jpg" ></div>
          <div class="item"><img src="/images/workshop.jpg" ></div>
        </div>

        <div class="search-field col-sm-offset-3 col-sm-6 col-xs-12">
          <input type="text" class="form-control" name="search-box" placeholder="Search for Contractors , Jobs , Workers , etc" />
          <i class="search-icon hand fa fa-search"></i>
        </div>
      </div>

      <!-- About section -->
      <div class="about-section col-xs-12 text-center">
        <h2 class="text-uppercase bold">about</h2>
        <div class="about-block col-md-offset-2 col-md-8 text-left text-justify col-xs-12 bold">
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          </p>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          </p>
        </div>
      </div>

      <!-- Signup button -->
      <div class="col-xs-12 text-center">
        <button type="button" class="craft-btn btn btn-default text-capitalize">sign up</button>
      </div>

      <!-- News section -->
      <div class="col-xs-12 bg-red">
        <div class="col-lg-3">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </div>
        <div class="col-lg-3">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </div>
        <div class="col-lg-3">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </div>


      </div>
    </div>

    <!-- Jquery -->
    <script src="/js/vendor/jquery/jquery-2.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="/js/vendor/bootstrap/bootstrap.min.js"></script>

    <!-- Owl carousel JS -->
    <script src="/js/vendor/owlcarousel/owl.carousel.min.js"></script>

    <!-- Custom JS -->
    <script src="/js/vendor/bootstrap/bootstrap.min.js"></script>
  </body>
</html>
